NEXUS_HOST=127.0.0.1
NEXUS_PORT=18777
NEXUS_PUBLIC_URL=
NEXUS_DATA_DIR=./nexus-data
NEXUS_AUTH_TOKEN=
NEXUS_REQUIRE_AUTH=false
NEXUS_AUTH_ALLOW_INSECURE_HTTP=false
NEXUS_TRUSTED_PROXIES=127.0.0.1,::1
NEXUS_LOG_LEVEL=info

RECALL_REPO_DIR=./recall
